<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
	  
		  
	  
	  <pages theme="Skin1">  
	  </pages> 
	  
		  
	  
	  <customErrors mode="On" defaultRedirect="Errorpage.aspx">  
	  </customErrors>
	  
		  
	  <!--<trace enabled="true" localOnly="true" pageOutput="true" requestLimit="10">
	  </trace>-->
	  
  
	 <authentication mode="Forms" >
		 <forms name="myform"  loginUrl="WebForm2.aspx">
			 <credentials passwordFormat="Clear">
				 <user name="prince" password="india"/>
				<user name="sailesh" password="india"/>
				 <user name="abhishek" password="india"/>
				 <user name="jayanth" password="india"/>
			 
			 </credentials>
			 
		 </forms>
		 
	 </authentication> 
  
	<sessionState timeout="1"/>
  </system.web>
	
 <system.webServer>
	 <handlers>
		 <!--<add name="a" verb="*" path="*.king" type="Onlineshop.Mycustomhandler,Onlineshop"/>-->
	 <add name="a" verb="*" path="*.jpg" type="Onlineshop.Mycustomhandler,Onlineshop"/>
	 </handlers>

	 <modules>
		 <add name="TestModule1" type="Onlineshop.Mycustommodule,Onlineshop"/>
	 </modules>
 </system.webServer>		

		

		

  <connectionStrings>
    <add name="onlineshopEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKSBAN36SUHTR12\SQLEXPRESS;initial catalog=onlineshop;integrated security=True;encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="onlineshopEntities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WKSBAN36SUHTR12\SQLEXPRESS;initial catalog=onlineshop;integrated security=True;multipleactiveresultsets=True;encrypt=False;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="onlineshopConnectionString" connectionString="Data Source=WKSBAN36SUHTR12\SQLEXPRESS;Initial Catalog=onlineshop;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="MoviedbConnectionString" connectionString="Data Source=WKSBAN36SUHTR12\SQLEXPRESS;Initial Catalog=Moviedb;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
    <add name="onlineshopConnectionString2" connectionString="Data Source=WKSBAN36SUHTR12\SQLEXPRESS;Initial Catalog=onlineshop;Integrated Security=True;Encrypt=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>